body {
    margin: 0;
    padding: 0;
    background-color: rgb(51, 42, 48);
    height: 100%;
    width: 100%;
}

#pageTitle {
    position: absolute;
    width: 100%;
    height: 10%;
    font-size: 7vh;
    text-align: center;
    color: White;
}

#avatar {
    position: absolute;
    border: 3px solid wheat;
    top: 15%;
    left: 40%;
    height: 30%;
    width: 20%;
}

#bio {
    position: absolute;
    top: 50%;
    left: 40%;
    height: 5%;
    font-size: 22px;
    color: rgb(94, 163, 56);
}

#favCategories {
    position: absolute;
    top: 55%;
    left: 40%;
    height: 5%;
    font-size: 22px;
    color: rgb(94, 163, 56);
}

#record {
    position: absolute;
    top: 60%;
    left: 40%;
    height: 5%;
    font-size: 22px;
    color: rgb(94, 163, 56);
}

#highScore {
    position: absolute;
    left: 40%;
    top: 65%;
    height: 5%;
    font-size: 22px;
    color: rgb(94, 163, 56);
}