/* Reset and basic styles */
* {
    box-sizing: border-box;
    font-family: "Caveat", cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(51, 42, 48);
    color: rgb(94, 163, 56);
}

/* Segment styling */
.segment {
    /* Adding border */
    margin: auto;
    /* Centering horizontally */
    width: fit-content;
    /* Adjust width to fit content */
    padding: 2em;
    /* Adding some padding */
    text-align: center;
    /* Center text inside the div */
    font-size: 25px;
}

/* Input and label styling */
input[type="text"],
input[type="password"] {
    border: 2px solid rgb(94, 163, 56);
    background-color: transparent;
    color: rgb(94, 163, 56);
    padding: 10px;
    margin: 10px 0;
}

label {
    color: rgb(94, 163, 56);
}

/* Button styling */
#button {
    border: 0px;
    border-radius: 5px;
    border-left: 2px solid rgb(87, 218, 67);
    border-right: 2px solid rgb(87, 218, 67);
    background-color: rgba(87, 218, 67, 0.119);
    margin: 8px auto 8px auto;
    display: block;
    font-size: 15px;
    padding: 10px;
}

#button:hover {
    background-color: #218838;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .segment {
        margin: 10px;
    }
}

/* Centering and border for login and create account divs */
.login,
.create-account {
    border: 2px solid rgb(94, 163, 56);
    /* Adding border */
    margin: auto;
    /* Centering horizontally */
    width: fit-content;
    /* Adjust width to fit content */
    padding: 2em;
    /* Adding some padding */
    text-align: center;
    /* Center text inside the div */
    border-radius: 30px;
}


/* add some space between the login and create account sections */
.login+.create-account {
    margin-top: 60px;
}